# Dependencies
node_modules/
.pnp/
.pnp.js

# Generated
*.js.map
*.d.ts.map

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
